<% if @restaurants.all.any? %>
	<ul>
	<% @restaurants.all.each do |restaurant| %>
		<li><%= restaurant.name %>

		<%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>

		</li>

	<% end %>
	</ul>
<% else %>

Lol no food 4 u!

<% end %>