<% if @restaurants.all.any? %>
	<ul>
	<% @restaurants.all.each do |restaurant| %>
		<li><%= restaurant.name %>

		<%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
		<%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete, data: {confirm: 'Can you live with this?'} %>

		</li>

	<% end %>
	</ul>
<% else %>

Lol no food 4 u!

<% end %>