body {
	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 20px;

}

ul {

/*	display: none;*/

}

li {

	background-color: #ccc;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;


}

#newRest {

	background-color: #E3DECA;
	border-radius: 3px;
	padding: 5px;
	border: 0px;
	
}