body {
	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0px;
	list-style: none;
	background: url(http://fc06.deviantart.net/fs19/f/2007/271/9/c/Kelp_Forest_2_by_Exodus5139.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	transition: 1s all ease;

}

header {
	position: fixed;
	width: 5000px;
	background-color: white;
}

#userOptions {

	text-align: right;

}

#main {
	display: flex;
	margin-left: 20px;
	padding-top: 120px;
}

#left {

flex: 1 50%;

}

#right {

	flex: 1 50%;

}

h1 {
	color: black;
	margin-left: 10%;

}

.restaurant {

	list-style: none;
	background-color: #ccc;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	height: auto;

}

.newreview {
	vertical-align: center;
	background-color: #97C2BD;
	border-radius: 5px;
	margin: 10px;
	margin-right: 5px;
	padding-left: 15px;
}

.newreview label {

	display: table-cell;
	color: white;
    text-align: center;
    vertical-align: middle;
}

.newreview button {

}

.buttons {
	display: flex;

}

.extraSpace {

	flex: 1 55%;
}

.button {

	border: 0px outset buttonface;
	background-color: #E3DECA;
	border-radius: 3px;
	padding: 5px;
	margin: 2px;
	flex: 1 15%;
	align-items: flex-start;
	text-align: center;
	cursor: default;
	color: buttontext;
	box-sizing: border-box;
	
}

.review {
	background-color: #E3DECA;
	border-radius: 4px;
	margin: 5px 15px;

	padding: 5px;
	padding-left: 10px;
}

/*#rating {
	font-weight: 4000;
}*/